<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://recnotewebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>recnotewebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RecNoteWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RecNoteWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:krcsql.database.windows.net,1433;Initial Catalog=RecNoteWebApp_db;User ID=krchome@krcsql;Password=P@ssw0rd1" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RecNote.WebApp.Models.ApplicationDbContext, RecNote.WebApp" MigrationConfiguration="RecNote.WebApp.Migrations.Configuration, RecNote.WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MaintenanceEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:krcsql.database.windows.net,1433;Initial Catalog=RecNoteWebApp_db;User ID=krchome@krcsql;Password=P@ssw0rd1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RecNote.WebApp.Models.MaintenanceEntities, RecNote.WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:krcsql.database.windows.net,1433;Initial Catalog=RecNoteWebApp_db;User ID=krchome@krcsql;Password=P@ssw0rd1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RecNote.WebApp.Models.Entities, RecNote.WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:krcsql.database.windows.net,1433;Initial Catalog=RecNoteWebApp_db;User ID=krchome@krcsql;Password=P@ssw0rd1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ServiceDBModel.csdl|res://*/Models.ServiceDBModel.ssdl|res://*/Models.ServiceDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:krcsql.database.windows.net,1433;Initial Catalog=RecNoteWebApp_db;User ID=krchome@krcsql;Password=P@ssw0rd1"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MaintenanceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MaintenanceDBModel.csdl|res://*/Models.MaintenanceDBModel.ssdl|res://*/Models.MaintenanceDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:krcsql.database.windows.net,1433;Initial Catalog=RecNoteWebApp_db;User ID=krchome@krcsql;Password=P@ssw0rd1"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>