@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Info:</strong>   <a href="mailto:info@recnote.co.nz">info@recnote.co.nz</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@recnote.co.nz">marketing@recnote.co.nz</a> <br />
    <strong>Admin:</strong>   <a href="mailto:admin@recnote.co.nz">admin@recnote.co.nz</a><br />
</address>