@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RECNOTE</h1>
    <p class="text-primary">RECNOTE is being developed to become an enterprise level application for recording and managing information with various flavors.</p>
    <p><a href="~/Home/About" class="btn btn-primary">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Services</h2>
        <p>
            The services module gives you an instant access to the landing page for the billing information of various infrastructure related services, such as electricity, water, telephone/broadband etc.
        </p>
        <p><a class="btn btn-default" href="~/Services">Go there &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Maintenance</h2>
        <p>
            The maintenance module gets you to various categories of household and commercial maintenance activities such
            as electrical repairs(including installation), plumbing, guttering, car maintenance etc.
        </p>
        <p><a class="btn btn-default" href="">Go there &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Insurance</h2>
        <p>The insurance module records and displays all kinds of insurance say life,house and contents, medical and car insurance.</p>
        <p><a class="btn btn-default" href="">Go there &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Contacts</h2>
        <p>The contact module records and displays all personal and business contacts with facility to edit and delete.</p>
        <p><a class="btn btn-default" href="~/Contacts">Go there &raquo;</a></p>
    </div>
</div>